<%- include("partials/header") -%>
<h1>Who am I?</h1>

<pre>I am currently third year undergraduate of BBDEC Lucknow. I have good skills in:
    - programming languages (C, Python, Javascript)
    - problem solving and
    - full-stack web development (HTML, CSS, Javascript, Node, React, MongoDB)

    Apart from this, I love to taking part in different activities at my college. My strengths include smart work, managing
    and leadership qualities.
    
    my hobbies are photography and reading about history and geopolitics.</pre>

<%- include("partials/footer") -%>
