<%- include("partials/header") -%>

<h1>Contact</h1>

<div class="contact-me">

    <p class="contactmsg"><a class="btn" href="mailto:sid431629@gmail.com">Click here</a>to get in touch with me.</p>

</div>

<%- include("partials/footer") -%>